*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
Gemfile.lock
highly_scalable_database.ssv

# YARD artifacts
.yardoc
_yardoc
doc/
